# Exclude all hidden files
.*
# all temp. vi files
*~

# all temp. emacs files
*\#

# Except those related to git and vagrant
!.git*

# include .travis.yml
!.travis.yml

# Exclude build directory
build/*

# Exclude sandbox directory
sandbox/*

# Exclude tmp for icingaweb2-module.template
icingaweb2-module.template/tmp/*

# Exclude json2xml compiled files
tools/json2xml/json2xml.*.dynamic
tools/json2xml/json2xml.*.static

